*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #000000;
}
.banner{
    background-image: url("https://occ-0-4857-2186.1.nflxso.net/dnm/api/v6/E8vDc_W8CLv7-yMQu8KMEC7Rrr8/AAAABYoTIInsmO2HJnPJm2E8n5Fm4eQPUBRksw-Oib-qDEN5wQS0d9bTxyY1hVlCvq3kt6fNBTr0IweXAb_ow7r7R3xv860TW_pv3LqN.jpg?r=8c2&quot");
    background-size:cover;
    background-position: center center;
    max-width: 100%;
    background-repeat:no-repeat;
    height:600px;
    color:aliceblue
}
.posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
}